body { background-color : black; }
#x { position: relative; }
#y { color : black; position: absolute; top: -10px; left: 10px; width: 150px; }
#title { color : blue; }
#r { font-size: 4; color: black; position: absolute; top: 40px; left: 20px; }
#l { font-size: 5; color: black; position: absolute; top: 60px; left: -30px; }
#k { color: black; position: absolute; left: 32px; width: 90px;}
#total { font-size: 7; color: black; position: absolute; top: 40px; left: 70px; }
